# =================================================================
# CLIENT INFRASTRUCTURE CONFIGURATION
# =================================================================

# Unique prefix for isolated Docker networks and containers ej. acl-server
COMPOSE_PROJECT_NAME=login-infinyti

# Main domain for routing ej. infinyti.local
CLIENT_DOMAIN=ideasfarm.local

# Certificate resolver: empty for local (mkcert), "letsencrypt" for production
CERT_RESOLVER=