# =================================================================
# CLIENT INFRASTRUCTURE CONFIGURATION
# =================================================================

# Unique prefix for isolated Docker networks and containers ej. acl-server
COMPOSE_PROJECT_NAME=login-infinyti

# Main domain for routing ej. infinyti.local
CLIENT_DOMAIN=infinyti.local